<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto Prices</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      #crypto-table {
        max-width: 800px;
        margin: auto;
        border-collapse: collapse;
        width: 100%;
      }

      #crypto-table th,
      #crypto-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      #crypto-table th {
        background-color: #f2f2f2;
      }

      .crypto-img {
        max-width: 30px;
        max-height: 30px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <table id="crypto-table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Name</th>
          <th>Symbol</th>
          <th>Price</th>
          <!-- Добавьте другие заголовки, если необходимо -->
        </tr>
      </thead>
      <tbody id="crypto-body"></tbody>
    </table>

    <script>
      async function fetchData() {
        try {
          const response = await fetch('/crypto/currency')
          const data = await response.json()
          return data
        } catch (error) {
          console.error('Error fetching data:', error)
        }
      }

      function renderCryptoTable(cryptoArray) {
        const cryptoBody = document.getElementById('crypto-body')

        cryptoArray.forEach((crypto) => {
          const row = document.createElement('tr')

          const logoCell = document.createElement('td')
          const logo = document.createElement('img')
          logo.classList.add('crypto-img')
          logo.src = crypto.image
          logoCell.appendChild(logo)

          const nameCell = document.createElement('td')
          nameCell.textContent = crypto.name

          const symbolCell = document.createElement('td')
          symbolCell.textContent = crypto.symbol

          const priceCell = document.createElement('td')
          priceCell.textContent = `$${crypto.current_price.toFixed(2)}`

          row.appendChild(logoCell)
          row.appendChild(nameCell)
          row.appendChild(symbolCell)
          row.appendChild(priceCell)

          cryptoBody.appendChild(row)
        })
      }

      fetchData().then((data) => renderCryptoTable(data))
    </script>
  </body>
</html>
